 <%# shows that this is a booking %>
 <h1>Booking</h1>
<%# shows what the skill is %>
<h3>You want to book this skill:</h3>
  <h3><%= @skill.name %></h3>
<%# shows who is the user offering the skill %>
<h3>You want to book this skill:</h3>
  <h3><%= @skill.user.username %></h3>
<%# showing an agenda over which you can choose the date and time %>

<%= simple_form_for([@skill, @booking]) do |f| %>
  <%= f.input :booking_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit %>
<% end %>
