<h1>Skills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.description %></td>
        <td><%= skill.category %></td>
        <td><%= number_to_currency(skill.price) %></td>
        <td><%= skill.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
