<h1>Skills to Hire</h1>
<div class="container">
<div class="skill-cards">
  <% @skills.each do |skill| %>
    <div class="skill-card">
      <h2><%= skill.name %></h2>
      <p>Description: <%= skill.description %></p>
      <p>Category: <%= skill.category %></p>
      <p>Price: <%= number_to_currency(skill.price) %></p>
      <p>Address: <%= skill.address %></p>
      <%= link_to "Details",  skill_path(skill), class: "btn btn-primary" %>
    </div>
  <% end %>

<div class="map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>
