<h2>Skill <%= @skill.name %> </h2>


<p> <%= @skill.description %> </p>
<p> <%= @skill.user.username %> </p>
<p>Category: <%= @skill.category %></p>
<p>Price: <%= number_to_currency(@skill.price) %></p>
<%= link_to "Return to skill index",  skills_index_path, class: "btn btn-primary" %>
